@{
    ViewData["Title"] = "Settings";
}
<section id="settings" class="content">
    <div class="header">Settings</div>
    <div class="row">
        <form>
            <label class="col-md-12 form-label">
                Azure DevOps Project URL:<br />
                <input type="text" class="form-control" placeholder="https://dev.azure.com/yourproject" style="width: 100%; padding: 8px; margin-top: 5px; margin-bottom: 15px;" />
            </label>
            <label class="col-md-12 form-label">
                API Token:<br />
                <input type="password" class="form-control" placeholder="Your API token" style="width: 100%; padding: 8px; margin-top: 5px; margin-bottom: 15px;" />
            </label>
            <label class="col-md-12 form-label">
                Notification Email:<br />
                <input type="email" class="form-control" placeholder="email@example.com" style="width: 100%; padding: 8px; margin-top: 5px; margin-bottom: 15px;" />
            </label>
            <button class="col-md-2 btn btn-primary" type="submit">Save Settings</button>
        </form>
    </div>

</section>