@{
    ViewData["Title"] = "Notification";
}
<section id="notifications" class="content">
    <div class="header">Notification</div>
    <div class="row">
        <form>
            <label class="col-md-12 form-label">
                Notification Email:<br />
                <input type="email" class="form-control" placeholder="email@example.com" style="width: 100%; padding: 8px; margin-top: 5px; margin-bottom: 15px;" />
            </label>
            <button class="col-md-2 btn btn-primary" type="submit">Save</button>
        </form>
    </div>

</section>