@model List<ADOAnalyser.Models.WorkTypeModel>;
@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <div class="row">
        @foreach (var project in Model)
        {
            <div class="col-md-4 mb-4">
                <a class="loadData" name="@project.workType" style="text-decoration:none;cursor:grabbing">
                    <div class="card h-100 text-center">
                        <div class="card-body d-flex flex-row align-items-center justify-content-start">
                            <i class="icon-rect @project.icon"></i>
                            <h5 class="card-title" style="margin-bottom:0px">@project.workType</h5>
                            <p class="card-text text-start"></p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
<div id="partialContainer">
</div>



@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
          $('.loadData').click(function () {
             var myData = $(this).attr('name');
             $.ajax({
                 url: '/WorkType/LoadPartial',
                 type: 'GET',
                 data: { workType: myData },
                 success: function (result) {
                     $('#partialContainer').html(result);
                 },
                 error: function () {
                     alert('Error loading partial view.');
                 }
             });
        });

    </script>
    }

<style>

    i {
        font-size: 20px;
        margin-right: 10px;
    }

    .fa-bug {
        color: red;
    }

    .fa-book-open {
        color: rgb(0, 156, 204);
    }

    .fa-exclamation-triangle {
        color: orangered;
    }

    .icon-rect {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10%;
        font-size: 24px;
        font-weight: bold;
    }

</style>

