@model List<ADOAnalyser.Controllers.GraphController.GraphDefinition>
@{
    ViewData["Title"] = "AutoSpot Check Summary";
    var dateList = @Model.Select(a => a.Date).ToList();
    var missingList = @Model.Select(a => a.MissingCount).ToList();
    var passingList = @Model.Select(a => a.PassingCount).ToList();
}
<section id="graphs" class="content">
    <div class="header">AutoSpot Check Summary Graph</div>
    <div class="row">
        <div class="col-md-12">
            <canvas id="myChart"></canvas>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                const ctx = document.getElementById('myChart');
                new Chart(ctx, {
                  type: 'bar',
                  data: {
                   labels: [@Html.Raw(string.Join(",", dateList.Select(x => $"\"{x}\"")))],
                   datasets: [
                                {
                                    label: 'Failed',
                                    data: [@Html.Raw(string.Join(",", missingList))],
                                    backgroundColor: 'red'
                                },
                                {
                                    label: 'Passed',
                                    data: [@Html.Raw(string.Join(",", passingList))],
                                    backgroundColor: 'green'
                                }
                                
                            ]
                  },
                  options: {
                    responsive: true,
                    scales: {
                      y: {
                        beginAtZero: true,
                        title: { display: true, text: 'Work Items' }
                      },
                      x: {
                        title: { display: true, text: 'Date Range' }
                      }
                    }
                  }
                });
            </script>
        </div>
    </div>
</section>