@model List<ADOAnalyser.Controllers.GraphController.GraphDefinition>
@{
    ViewData["Title"] = "Graph";
    var idList = @Model.Select(a => a.Date).ToList();
    var countList = @Model.Select(a => a.Count).ToList();
}
<section id="graphs" class="content">
    <div class="header">Graph</div>
    <div class="row">
        <canvas id="myChart"></canvas>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            const ctx = document.getElementById('myChart');
            new Chart(ctx, {
              type: 'bar',
              data: {
                labels: [@string.Join(",",idList)],
                datasets: [{
                  label: 'Total Work Items',
                  data: [@string.Join(",",countList)],
                  backgroundColor: 'skyblue'
                }]
              },
              options: {
                responsive: true,
                scales: {
                  y: {
                    beginAtZero: true,
                    title: { display: true, text: 'Work Items' }
                  },
                  x: {
                    title: { display: true, text: 'Date Range' }
                  }
                }
              }
            });
        </script>
    </div>
</section>